.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 12s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project{
  background-color: #282c34;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  width: 70%;
  padding: 5px;
  margin: 5px;
  border: black solid 1px;
}

.link-project{
  color: white;
  text-decoration: none;
  margin: auto;
}

